<div class="container mt-5" id="page-content">

<h1 class="text-center m-3">Edit Article</h1>
<%= render 'articles/errors'%>
<%= render 'form' %>
<p><%=link_to 'Cancel upodate', articles_path%></p>

</div>