<!DOCTYPE html>
<html>
  <head>
  	<link href="style.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>Learn HTML Basics</title>
  </head>
  <body>
  	<h1 class="Unique"> Firefox Logo </h1>
    <img src="firefox.jpg" alt="My test image" height=45% width=45%>
    <p class="Unique"> Please enjoy the firefox logo </p>
    The logo consists of:
    <ol>
    	<a href="https://www.google.com"><li>Fox</li></a>
    	<li>Orange</li>
    	<li>Earth</li>
    </ol>

  </body>
</html>