<h1 class="center m-2">Welcome to the Homepage</h1>

<div id="page-content">
  <div id="home-container">
    <div class="jumbotron text-center text-white m-4">
      <h1 class="display-3 ">Stan's Blog</h1>
      <button class="btn btn-success btn-lg" role="button" id="btn-sign">Sign up!</button>
    </div>
  </div>
 
</div>

