@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  color: #e8e4c9;
  font-size: 1.7em;
  float: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#logo:hover {
  color: #ffff;
  text-decoration: none;
}

.center {
  text-align: center;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

#page-content {
  position: relative;
  background-color: rgba(218, 209, 209, 0.822);
  min-height: fit-content;
}

#edit_page {
  background-color: rgb(126, 161, 216);
  max-height: fit-content;
  min-height: fit-content;
  max-width: 70%;
}

#alert_main {
  max-width: 70%;
}

#home-container {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%;
}

#drop-down-menu {
  background-color: lightgreen;
  opacity: 0.92;
}

#page-bottom-filler {
  position: relative;
  background-color: rgba(218, 209, 209, 0.822);
  min-height: 49%;
}

#page-bottom-filler-show {
  position: relative;
  background-color: rgba(218, 209, 209, 0.822);
  min-height: 108%;
}

#page-bottom-user-show {
  position: relative;
  background-color: rgba(218, 209, 209, 0.822);
  min-height: 4%;
}

.for-marging {
  padding: 2%;
}

#btn-sign {
  position: relative;
  top: 160px;
}

.jumbotron {
  position: relative;
  background-image: asset-url('wolfgang.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}

.footer {
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  padding-top: 1%;
  font-weight: bold;
  font-size: 20px;
  opacity: 0.8;
  width: 100%;
  background-color: dimgray;
  color: white;
  text-align: center;
}
